.chapter-tabs {
  max-width: 52rem;
  margin-right: auto;
  margin-left: auto;
}

.chapter-content {
  max-width: 36rem;
  min-height: 320px;
  height: 93vh;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
