.arrow-down {
  width: 0;
  height: 0;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.bg-custom-dark-blue {
  background-color: #293641;
}

.bg-pattern {
  background-image: url('~images/heroPattern2.svg');
  background-size: 15em;
}

.bottom--3 {
  bottom: -4rem;
}

.box-36px {
  height: 36px;
  width: 36px;
}

.br11 {
  border-radius: 11px;
}

.center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-absolute-v {
  top: 50%;
  transform: translateY(-50%);
}

.child-p-mt0 p {
  margin-top: 0;
}

.f4-5 {
  font-size: 1.125rem;
}

.flex-grow1 {
  flex-grow: 1;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.h1-5 {
  height: 1.5rem;
}

.h400px {
  // height: 400px;
  height: 80vh;
}

.hover-only-bg-black-10:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease-in;
}

.lh0-9 {
  line-height: 0.9;
}

.lh-17 {
  line-height: 1.7;
}

.lh1-75rem {
  line-height: 2;
}

.mt64 {
  margin-top: 64px;
}

.mt100vh {
  margin-top: 62rem;
  margin-top: 100vh;
}

.m-h-3 {
  min-height: 4rem;
}

.cursor-default:hover {
  cursor: default;
}

// .pv40vh {
//   padding-top: 28rem;
//   padding-bottom: 28rem;
//   padding-top: 40vh;
//   padding-bottom: 40vh;
// }

.pb45vh {
  padding-bottom: 28rem;
  padding-bottom: 45vh;
}

.raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.raised-bottom {
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2),
    0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
}

.raised-header {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.rtl .rtl-rotate-180 {
  transform: rotate(180deg);
}

.title-with-subtitle {
  h2 {
    margin-bottom: 0.2em;
  }
  span {
    font-size: 0.8em;
  }
}

.transition-color {
  transition: color 0.2s linear;
}

.transition-transform {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-100 {
  transform: translateX(100%);
}

.translate-x--100 {
  transform: translateX(-100%);
}

.w2-5 {
  width: 3rem;
}

.w320px {
  width: 270px;
}

.w-100.widthWithoutSidebar {
  width: calc(100vw - 270px);
}

@media screen and (min-width: 30em) {
  // .bg-pattern {
  //   background-size: 50%;
  // }
  div.w-95-ns {
    width: 95%;
  }
  .min-h-512-ns {
    min-height: 512px;
  }
}

.mdc-toolbar__section.dn {
  display: none;
}

@media screen and (min-width: 60em) {
  // .bg-pattern {
  //   background-size: 30%;
  // }
  .mdc-toolbar__section.dn-l {
    display: none;
  }
  .mdc-toolbar__section.inline-flex-l {
    display: inline-flex;
  }
}

html:lang(ar) {
  font-size: 24px;
  p {
    line-height: 1.7;
  }
}
