// https://github.com/KyleAMathews/typefaces/blob/master/packages/open-sans/index.css
/* open-sans-400normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Open Sans Regular '), local('Open Sans-Regular'),
    url('~typeface-open-sans/files/open-sans-latin-400.woff2') format('woff2'),
    url('~typeface-open-sans/files/open-sans-latin-400.woff') format('woff');
}

/* open-sans-700normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Open Sans Bold '), local('Open Sans-Bold'),
    url('~typeface-open-sans/files/open-sans-latin-700.woff2') format('woff2'),
    url('~typeface-open-sans/files/open-sans-latin-700.woff') format('woff');
}

// https://github.com/KyleAMathews/typefaces/blob/master/packages/amiri/index.css
/* amiri-400normal - latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Amiri Regular '), local('Amiri-Regular'),
    url('~typeface-amiri/files/amiri-latin-400.woff2') format('woff2'),
    url('~typeface-amiri/files/amiri-latin-400.woff') format('woff');
}

/* amiri-700normal - latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Amiri Bold '), local('Amiri-Bold'),
    url('~typeface-amiri/files/amiri-latin-700.woff2') format('woff2'),
    url('~typeface-amiri/files/amiri-latin-700.woff') format('woff');
}
