@font-face {
  font-family: 'Shahwan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Shahwan Regular '), local('Shahwan-Regular'),
    url('~fonts/shahwan-fonts.woff2') format('woff2'),
    url('~fonts/shahwan-fonts.woff') format('woff');
}

@font-face {
  font-family: 'Shahwan';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Shahwan Bold '), local('Shahwan-Bold'),
    url('~fonts/shahwan-fonts-b.woff2') format('woff2'),
    url('~fonts/shahwan-fonts-b.woff') format('woff');
}
